<h1>Islamic Roots Academy</h1>

<mat-stepper [linear]="isLinear" [orientation]="(stepperOrientation | async) || 'horizontal'" #stepper>
  <ng-template matStepperIcon="edit">
    <mat-icon aria-hidden="false" aria-label="my clock"></mat-icon>
  </ng-template>
  <!-- Step 1: Select a Service -->
  <mat-step label="Step 1" >
    <ng-template matStepLabel>Select a service</ng-template>

    <form [formGroup]="serviceSelectionForm">
      <mat-radio-group formControlName="selectedService" class="service-radio-group" (change)="onServiceClick(serviceSelectionForm.value.selectedService)">
        <div 
          class="service-card" 
          *ngFor="let service of services" 
          [class.selected]="serviceSelectionForm.value.selectedService === service"
        >
          <mat-radio-button [value]="service" class="service-radio">
            <h3>{{ service.name }}</h3>
            <p>{{ service.description }}</p>
            <div class="service-info">
              <span>${{ service.price }}</span>
              <span> · {{ service.duration }} min</span>
            </div>
          </mat-radio-button>
        </div>
      </mat-radio-group>

      <!-- Error Message -->
      <div 
        *ngIf="serviceSelectionForm.controls['selectedService'].invalid 
        && serviceSelectionForm.controls['selectedService'].touched" 
        class="error">
        <p>Please select a service to continue.</p>
      </div>

      <!-- Next Button -->
      <div class="button-container">
        <button mat-button matStepperNext [disabled]="serviceSelectionForm.invalid">Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Step 2: Select a Staff -->
  <mat-step label="Step 2">
    <ng-template matStepLabel>Select a Staff Member</ng-template>

    <!-- Filtering Gender  -->
    <!-- <div class="gender-filter">
      <mat-button-toggle-group
        [(ngModel)]="selectedGender"
        (change)="onGenderFilterChange($event)"
        class="gender-toggle-group"
      >
        <mat-button-toggle value="" class="gender-toggle">All</mat-button-toggle>
        <mat-button-toggle value="Male" class="gender-toggle">Male</mat-button-toggle>
        <mat-button-toggle value="Female" class="gender-toggle">Female</mat-button-toggle>
      </mat-button-toggle-group>
    </div>    -->

    <div class="gender-filter">
      <mat-form-field appearance="outline" class="gender-select-field">
        <mat-label>Filter by Gender</mat-label>
        <mat-select [(ngModel)]="selectedGender" (selectionChange)="onGenderFilterChange($event)">
          <mat-option value="">All</mat-option>
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    
    <div class="staff-container">
      <div 
        class="staff-card" 
        *ngFor="let staff of filteredStaff" 
        [class.selected]="selectedStaff === staff.name"
        (click)="onStaffSelect(staff)"
      >
        <div class="staff-avatar">
          <span>{{ getStaffInitials(staff) }}</span> <!-- Pass 'staff' directly -->
        </div>
        <div class="staff-info">
          <h3>{{ staff.name }}</h3> <!-- Display the staff member's name -->
          <p>{{ staff.gender }}</p> <!-- Display a static role, or adjust as needed -->
        </div>
        <mat-radio-button 
          [value]="staff.name" 
          [checked]="selectedStaff === staff.name"
          class="staff-radio"
        >
        </mat-radio-button>
      </div>
    </div>
  
    <!-- Next Button -->
    <div class="button-container">
      <button mat-button matStepperPrevious >Back</button>
      <!-- Next Button -->
      <button mat-button matStepperNext [disabled]="!selectedStaff" (click)="triggerDateChange()">Next</button>
    </div>

  </mat-step>

  <!-- Step 3: Select Date and Time -->
  <mat-step label="Step 3">
    <ng-template matStepLabel>Select Date and Time</ng-template>
    <div class="calendar-container">
      <mat-calendar 
        ngSkipHydration
        [(selected)]="selectedDate" 
        [dateFilter]="dateFilter"
        (selectedChange)="onDateChange($event)">
      </mat-calendar>
    </div>
    
    <div class="time-container" *ngIf="availableTimes!.length > 0">
      <h3>Available Times</h3>
      <div class="time-slot" *ngFor="let timeSlot of availableTimes">
        <button
        mat-stroked-button
        color="primary"
        (click)="!timeSlot.disabled && selectTime(timeSlot.time)"
        [disabled]="timeSlot.disabled"
        [ngClass]="{'selected-time': timeSlot.time === selectedTime}"
        >
          {{ timeSlot.time }}
        </button>
      </div>
    </div>
    
    <div *ngIf="availableTimes?.length === 0" class="no-times-container">
      <p class="no-times-message">No times available for the selected date.</p>
    </div>
    
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button [disabled]="!selectedDate || !selectedTime || this.bookedTimes.includes(selectedTime)" (click)="redirectToStripeCheckout()">Next</button>
    </div>
    <div *ngIf="isLoading" class="spinner-overlay">
      <mat-spinner></mat-spinner>
    </div>
  </mat-step>

  <!-- Step 4: Payment -->
  <mat-step label="Step 4">
    <ng-template matStepLabel>Payment</ng-template>

      <stripe-buy-button
        *ngIf="selectedService == 'Quran Classes'"
        buy-button-id="buy_btn_1QXoS9JdgLdisV6J6uPK06Qm"
        publishable-key="pk_test_51QXV2HJdgLdisV6JlmygXHpsuPQHovT4VsF5YgSrEIEuF5qWTG3aqC7BU6yeKpympI3WRjRsZXpNwVuoCOI2VEUZ00QzkS8kUI"
      >
      </stripe-buy-button>

      <stripe-buy-button
        *ngIf="selectedService == 'Aqeedah Classes'"
        buy-button-id="buy_btn_1QYYvlJdgLdisV6Jls5sot9n"
        publishable-key="pk_test_51QXV2HJdgLdisV6JlmygXHpsuPQHovT4VsF5YgSrEIEuF5qWTG3aqC7BU6yeKpympI3WRjRsZXpNwVuoCOI2VEUZ00QzkS8kUI"
      ></stripe-buy-button>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>

  <!-- Step 5: Done -->
  <mat-step label="Step 5">
    
    <div *ngIf="!isLoadingBookingDetails" class="confirmation-wrapper">
      <ng-template matStepLabel>Done</ng-template>
      <div class="confirmation-container">
        <!-- Logo Section -->
        <div class="logo-container">
          <img src="https://islamic-roots-academy.s3.us-east-2.amazonaws.com/Logo+Islamic+Roots+Academy.png" alt="Logo" class="logo">
        </div>
    
        <!-- Confirmation Title -->
        <h2 class="confirmation-title">Booking Confirmation</h2>
    
        <!-- Confirmation Subtitle -->
        <p class="confirmation-subtitle">Thank you for your booking! Here are the details:</p>
    
        <!-- Confirmation Details -->
        <div class="confirmation-details">
          <div class="details-row">
            <p><strong>Confirmation Number:</strong> {{ confirmationDetails?.sessionId }}</p>
            <p><strong>Name:</strong> {{ confirmationDetails?.userName }}</p>
            <p><strong>Email:</strong> {{ confirmationDetails?.userEmail }}</p>
            <p><strong>Service:</strong> {{ confirmationDetails?.serviceBooked }}</p>
            <p><strong>Staff:</strong> {{ confirmationDetails?.staffBooked }}</p>
            <p><strong>Date:</strong> {{ confirmationDetails?.bookingDate | date: 'mediumDate' }}</p>
            <p><strong>Time:</strong> {{ confirmationDetails?.bookingDate | date: 'shortTime' }}</p>
          </div>
        </div>
    
        <!-- Go To Home Button -->
        <div class="button-container">
          <a mat-button href="https://islamicrootsacademy.com/" class="back-button">Go To Home</a>
        </div>
      </div>
    </div>
    
  </mat-step>
</mat-stepper>
