<h1>Islamic Roots Academy</h1>

<mat-stepper [linear]="isLinear" [orientation]="(stepperOrientation | async) || 'horizontal'" #stepper>
  <!-- Step 1: Select a Service -->
  <mat-step label="Step 1">
    <ng-template matStepLabel>Select a service</ng-template>

    <form [formGroup]="serviceSelectionForm">
      <mat-radio-group formControlName="selectedService" class="service-radio-group" (change)="onServiceClick(serviceSelectionForm.value.selectedService)">
        <div 
          class="service-card" 
          *ngFor="let service of services" 
          [class.selected]="serviceSelectionForm.value.selectedService === service"
        >
          <mat-radio-button [value]="service" class="service-radio">
            <h3>{{ service.name }}</h3>
            <p>{{ service.description }}</p>
            <div class="service-info">
              <span>${{ service.price }}</span>
              <span> · {{ service.duration }} min</span>
            </div>
          </mat-radio-button>
        </div>
      </mat-radio-group>

      <!-- Error Message -->
      <div 
        *ngIf="serviceSelectionForm.controls['selectedService'].invalid 
        && serviceSelectionForm.controls['selectedService'].touched" 
        class="error">
        <p>Please select a service to continue.</p>
      </div>

      <!-- Next Button -->
      <div class="button-container">
        <button mat-button matStepperNext [disabled]="serviceSelectionForm.invalid">Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Step 2: Select a Staff -->
  <mat-step label="Step 2">
    <ng-template matStepLabel>Select a Staff Member</ng-template>
  
    <div class="staff-container">
      <div 
        class="staff-card" 
        *ngFor="let staff of selectedServiceStaff" 
        [class.selected]="selectedStaff === staff"
        (click)="onStaffSelect(staff)"
      >
        <div class="staff-avatar">
          <span>{{ getStaffInitials(staff) }}</span> <!-- Pass 'staff' directly -->
        </div>
        <div class="staff-info">
          <h3>{{ staff }}</h3> <!-- Display the staff member's name -->
          <p>{{ 'Staff' }}</p> <!-- Display a static role, or adjust as needed -->
        </div>
        <mat-radio-button 
          [value]="staff" 
          [checked]="selectedStaff === staff"
          class="staff-radio"
        >
        </mat-radio-button>
      </div>
    </div>
  
    <!-- Next Button -->
    <div class="button-container">
      <button mat-button matStepperPrevious >Back</button>
      <!-- Next Button -->
      <button mat-button matStepperNext [disabled]="!selectedStaff" (click)="triggerDateChange()">Next</button>
    </div>

  </mat-step>

  <!-- Step 3: Select Date and Time -->
  <mat-step label="Step 3">
    <ng-template matStepLabel>Select Date and Time</ng-template>
    <div class="calendar-container">
      <mat-calendar 
        ngSkipHydration
        [(selected)]="selectedDate" 
        [dateFilter]="dateFilter"
        (selectedChange)="onDateChange($event)">
      </mat-calendar>
    </div>
    
    <div class="time-container" *ngIf="availableTimes!.length > 0">
      <h3>Available Times</h3>
      <div class="time-slot" *ngFor="let time of availableTimes">
        <button mat-raised-button color="primary" (click)="selectTime(time)">{{ time }}</button>
      </div>
    </div>
    
    <div *ngIf="availableTimes?.length === 0">
      <p>No times available for the selected date.</p>
    </div>
    
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="redirectToStripeCheckout()">Next</button>
    </div>
  </mat-step>

  <!-- Step 4: Payment -->
  <mat-step label="Step 4">
    <ng-template matStepLabel>Payment</ng-template>
    <!-- <p>Payment integration coming soon...</p> -->

    <stripe-buy-button
      *ngIf="selectedService == 'Quran Classes'"
      buy-button-id="buy_btn_1QXoS9JdgLdisV6J6uPK06Qm"
      publishable-key="pk_test_51QXV2HJdgLdisV6JlmygXHpsuPQHovT4VsF5YgSrEIEuF5qWTG3aqC7BU6yeKpympI3WRjRsZXpNwVuoCOI2VEUZ00QzkS8kUI"
    >
    </stripe-buy-button>

    <stripe-buy-button
      *ngIf="selectedService == 'Aqeedah Classes'"
      buy-button-id="buy_btn_1QYYvlJdgLdisV6Jls5sot9n"
      publishable-key="pk_test_51QXV2HJdgLdisV6JlmygXHpsuPQHovT4VsF5YgSrEIEuF5qWTG3aqC7BU6yeKpympI3WRjRsZXpNwVuoCOI2VEUZ00QzkS8kUI"
    ></stripe-buy-button>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <!-- Step 5: Done -->
  <mat-step label="Step 5">
    <ng-template matStepLabel>Done</ng-template>
    <p>Your appointment is successfully scheduled.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
